<div class="modal fade" id="formModalCreateSample" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 800px;">
    <div class="modal-content" style="background-color: var(--primary-color); color: var(--color)">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Create Sample</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% if 'recents' in request.path %}
      <form id="formCreate" action="{% url 'recents_create' %}" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate >
      {% elif 'mysamples' in path %}
      <form id="formCreate" action="{% url 'mysample_create' %}" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate >
      {% elif 'mycollections' in request.path %}
      <form id="formCreate" action="{% url 'my_collections_sample_addsample' object.id %}" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate >
      {% else %}
      <form id="formCreate" action="{% url 'sample_create' %}" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate >
      {% endif %}
        {% csrf_token %}
        <div class="modal-body divCreate">
          <div class="col-12 mb-3">
              <label id="labelNameOfSample" for="name" class="form-label">Name*</label>
              <input type="text" class="form-control" id="nameOfSampleCreate" required name="name" minlength="4" maxlength="20">
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div class="invalid-feedback">
                  This name have less than 4 characters.
              </div>
          </div>
          <div class="col-12 mb-3">
              <label id="labelFileOfSample" for="file" class="form-label">File*</label>
              </br>
              <input type="file" class="form-control" id="fileOfSampleCreate" name="file"  accept="audio/wav" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div class="invalid-feedback">
                  Your file is empty or is not wav file.
              </div>
          </div>
          <div class="col-12">
              <input type="checkbox" class="form-control-input" id="sampleCreateIsPublic" name="isPublic">
              <label id="labelNameOfSample" for="sampleCreateIsPublic" class="form-label">Public Sample ? <span class="text-danger">(une fois public le sample ne pourra plus être repassé en privé !)</span></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit" id="buttonDismissCreateSample" onclick="spinner()">Create Sample</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function spinner(){
    var body = document.querySelector('body')
    var newDiv = document.createElement("DIV");
    newDiv.style.cursor = "wait";
    newDiv.style.position  ="absolute";
    newDiv.style.top = "0";
    newDiv.style.left = "0";
    newDiv.style.zIndex = "1070";
    newDiv.style.height = "100vh";
    newDiv.style.width = "100%";
    newDiv.setAttribute("id", "temporaryDiv");
    body.appendChild(newDiv);
    setTimeout(()=>{document.getElementById("temporaryDiv").remove()}, 6000);
  }
</script>