{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block menu_sample %}active{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sample_list'%}">Samples</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>Delete the following Samples from your Samples</h2>
        <table class="table dataTable-table" id ="SampleTable">
            <thead style="color: ghostwhite;">
                <tr>
                <th class="col-1 text-center">Select</th>
                <th class="col-2 text-center">Player</th>
                <th class="col-3 text-center">Name</th>
                <th class="col-1 text-center">Artist</th>
                <th class="col-3 text-center">Tags</th>
                <th class="col-2 text-center">Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in object_list %}
                <tr style="color: ghostwhite;">
                    <td class="text-center align-middle"><input class="form-check-input row_selector" type="checkbox" data-id="{{sample.id}}" checked disabled></td>
                    <td class="text-center align-middle"><audio controls preload=none volume=1 class="player"><source src="{{sample.file.url}}"></audio></td>
                    <td class="text-center align-middle">{{sample.name}}</td>
                    <td class="text-center align-middle">{{sample.user.username}}</td>
                    <td class="text-center align-middle">
                    {% for tag in sample.tags.all %}
                    <span class="badge" style="background-color:{{tag.color}}">{{tag.name}}</span>
                    {% endfor %}
                    </td>
                    <td class="text-center align-middle">{{sample.created_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <form method="post" action="#">
    {% csrf_token %}
    {{ form| crispy }}
    <input type="submit" class="btn btn-danger btn-submit" value="save" />
    </form>
    </div>
{% endblock %}
