{% load static %}
{% load thumbnail %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container-fluid navbar-div">
    <div class="navbar-brand ms-3">
      <div class="float-start">
      <button class="btn mb-1 d-none d-lg-block d-inline shadow-none menuBtn" type="button" onclick="switchMenu()">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="640" height="640" viewBox="0 0 640 640" style="height: 24px; width: 24px; fill: var(--color)" >
          <title></title>
          <g id="icomoon-ignore">
          </g>
          <path d="M0 96h640v64h-640v-64zM0 288h640v64h-640v-64zM0 480h640v64h-640v-64z"></path>
          </svg>
      </button>
      </div>
      <div>
        <a class="navbar-brand ms-2" href="{% url 'home' %}">BàSon</a>
      </div>
    </div>
    <a class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <div class="w-100">
          <div class="mobile d-lg-none border-bottom border-end border-start border-1 w-25 float-end mt-2 me-2">
            <li class="mt-2">
              {% url 'home' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif"  aria-current="page" href="{% url 'home' %}"><img class="pb-1" src="{% static 'icons/home.svg' %}"> Home</a>
              {% else %}
              <a class="dropdown-item element-no-actif"  aria-current="page" href="{% url 'home' %}"><img class="pb-1" src="{% static 'icons/home.svg' %}"> Home</a>
              {% endif %}
            </li>
            <li>
              {% url 'sample_list' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif"  aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/sample.svg' %}"> Samples</a>
              {% else %}
              <a class="dropdown-item element-no-actif"  aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/sample.svg' %}"> Samples</a>
              {% endif %}
            </li>
            <li>
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/collections.svg' %}">Collections</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/collections.svg' %}">Collections</a>
              {% endif %}
            </li>
            <li class="border-bottom border-1 separation">
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/recent.svg' %}">Recents</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/recent.svg' %}">Recents</a>
              {% endif %}
            </li>
            <li>
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/sample.svg' %}">My Samples</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/sample.svg' %}">My Samples</a>
              {% endif %}
            </li>
            <li class="border-bottom border-1 separation">
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/collections.svg' %}">My Collections</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/collections.svg' %}">My Collections</a>
              {% endif %}
            </li>
            {% if user.is_authenticated %}
            <li>
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/profile.svg' %}">Profile</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/profile.svg' %}">Profile</a>
              {% endif %}
            </li>
            <li>
              <form method="GET" action="{% url 'switch_theme' %}" id="switchThemeForm" style="margin-bottom: 0; width: 100%;">
                <input type="hidden" name="redirect" value="{{request.path}}"/>
                {% if request.session.testTheme %}
                <button class="btn btn-transparent text-white shadow-none" type="submit" style="border-radius: 0; display: flex; align-items: center; justify-content:start; width: 100%; border: 0px solid transparent !important; padding: 10px !important;" name="theme" value="dark"><img class="pb-1" src="{% static 'icons/moon.svg' %}" style="width: 24px; margin-right: 10px;">Apparence</button>
                {% else %}
                <button class="btn btn-transparent text-white shadow-none" type="submit" style="border-radius: 0; display: flex; align-items: center; justify-content:start; width: 100%; border: 0px solid transparent !important; padding: 10px !important;" name="theme" value="light"><img class="pb-1" src="{% static 'icons/sun.svg' %}" style="width: 24px; margin-right: 10px;">Apparence</button>
                {% endif %}
              </form>
            </li>
            <li>
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/help.svg' %}">Aide</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/help.svg' %}">Aide</a>
              {% endif %}
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}"><img class="pb-1" src="{% static 'icons/logout.svg' %}">Logout</a></li>
            </li>
            {% else %}
            <li>
              {% url '' as the_url %}
              {% if request.get_full_path == the_url %}
              <a class="dropdown-item element-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/help.svg' %}">Aide</a>
              {% else %}
              <a class="dropdown-item element-no-actif" aria-current="page" href="{% url 'sample_list' %}"><img class="pb-1" src="{% static 'icons/help.svg' %}">Aide</a>
              {% endif %}
            </li>
            <li>
              <a href="{% url 'login'%}?next={{request.path}}" class='dropdown-item'><img class="pb-1" src="{% static 'icons/login.svg' %}">Login</a></li>
            </li>
            {% endif %}
          </div>
        </div>
      </ul>
      <div class="d-flex d-none d-lg-block w-100 me-3">
        {% if user.is_authenticated %}
          <div class="dropdown float-lg-end">
            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.profile.image %}
                {% thumbnail request.user.profile.image "40x40" crop="center" as im %}
                    <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              {% else %}
                <img class="rounded-circle" src="{% static 'media/no-profile-pic.png' %}" style="width: 40px;">
              {% endif %}
            </a>            
            <div class="dropdown-menu dropdown-nav border-bottom border-end border-start border-top-0 border-1" aria-labelledby="dropdownMenuLink">
              <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                <div class="text-white" style="display: flex; align-items: center; justify-content: center; width: 100%; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color);">
                  {% if request.user.profile.image %}
                    {% thumbnail request.user.profile.image "40x40" crop="center" as im %}
                        <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin-right: 0.5rem;">
                    {% endthumbnail %}
                  {% else %}
                    <img class="rounded-circle" src="{% static 'media/no-profile-pic.png' %}" style="width: 40px; margin-right: 0.5rem;">
                  {% endif %}
                  {{request.user.username}}
                </div>
                {% url '' as the_url %}
                {% if request.get_full_path == the_url %}
                <a class="dropdown-item element-actif text-white" href="{% url 'profile' request.user.id %}" style="display: flex; align-items: center; justify-content:start; width: 100%; margin-top: 0.5rem;"><img class="pb-1 me-2" src="{% static 'icons/profile_white.svg' %}" style="width: 20px;">Profile</a>
                {% else %}
                <a class="dropdown-item element-no-actif text-white" href="{% url 'profile' request.user.id %}" style="display: flex; align-items: center; justify-content:start; width: 100%; margin-top: 0.5rem;"><img class="pb-1 me-2" src="{% static 'icons/profile.svg' %}" style="width: 20px;">Profile</a>
                {% endif %}
                <form method="GET" action="{% url 'switch_theme' %}" id="switchThemeForm" style="margin-bottom: 0; width: 100%;">
                  <input type="hidden" name="redirect" value="{{request.path}}"/>
                  {% if request.session.testTheme %}
                  <button class="btn btn-transparent text-white" type="submit" style="border-radius: 0; display: flex; align-items: center; justify-content:start; width: 100%; border: 0px solid transparent !important; padding: 0.25rem 1rem !important;" name="theme" value="dark"><img class="pb-1 me-2" src="{% static 'icons/moon.svg' %}" style="width: 20px;">Apparence</button>
                  {% else %}
                  <button class="btn btn-transparent text-white" type="submit" style="border-radius: 0; display: flex; align-items: center; justify-content:start; width: 100%; border: 0px solid transparent !important; padding: 0.25rem 1rem !important;" name="theme" value="light"><img class="pb-1 me-2" src="{% static 'icons/sun.svg' %}" style="width: 20px;">Apparence</button>
                  {% endif %}
                </form>
                {% url '' as the_url %}
                {% if request.get_full_path == the_url %}
                <a class="dropdown-item element-actif" href="{% url 'sample_list' %}" style="display: flex; align-items: center; justify-content: start; width: 100%;"><img class="pb-1 me-2" src="{% static 'icons/help_white.svg' %}" style="width: 20px;">Aide</a>
                {% else %}
                <a class="dropdown-item element-no-actif text-white" href="{% url 'sample_list' %}" style="display: flex; align-items: center; justify-content: start; width: 100%;"><img class="pb-1 me-2" src="{% static 'icons/help.svg' %}" style="width: 20px;">Aide</a>
                {% endif %}
                <a href="{% url 'logout'%}?next={{request.path}}" class='dropdown-item float-lg-end text-white' style="font-size: 1.2rem; display: flex; align-items: center; justify-content: start; width: 100%;"><img class="pb-1 me-2" src="{% static 'icons/logout.svg' %}" style="width: 20px;">Logout</a>
              </div>
            </div>
          </div>
        {% else %}
          <a href="{% url 'login'%}?next={{request.path}}" class='btn btn-outline-success float-lg-end'>Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<script>
  function submitForm(){
    var switchForm=document.getElementById("switchThemeForm");
    switchForm.submit();
  }
</script>